@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Josefin+Sans:ital,wght@1,300;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display: none;
}
.auth {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 95vh;
  background-color: rgb(131, 159, 244);
}
.form {
  background-color: rgb(93, 20, 203);
  padding: 10px;
  height: 50vh;
  border-radius: 5px;
  display: flex;
  position: absolute;
  flex-direction: column;
  transform: translate(-50%, -50%);
  left: 50vw;
  top: 50vh;
  gap: 3vh;
}
.form input {
  padding: 8px;
  border: none;
  border-radius: 20px;
  width: 25vw;
  height: 5vh;
}
.btn1 {
  position: relative;
  padding: 5px;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  background-color: rgb(240, 60, 20);
  left: 35%;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
}
.h1-1 {
  color: rgb(229, 240, 146);
  text-align: center;
}
.header-user {
  display: flex;
  flex-direction: row;
}
.header {
  background-color: rgb(131, 159, 244);
  width: 100vw;
  color: white;
  height: 5vh;
  display: flex;
  gap: 2rem;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.blogs-link {
  background-color: rgb(17, 0, 255);
  border-radius: 5px;
  color: white;
  text-decoration: none;
  margin-top: 2px;
  width: 6vw;
  height: 4vh;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lo-re {
  display: flex;
  flex-direction: row;
  gap: 7px;
  justify-content: center;
}
.login-link {
  color: antiquewhite;
  text-decoration: none;
  background-color: rgb(51, 16, 90);
  border-radius: 5px;
  margin-top: 2px;
  width: 6vw;
  height: 4vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-link {
  color: antiquewhite;
  text-decoration: none;
  background-color: rgb(51, 16, 90);
  border-radius: 5px;
  margin-top: 2px;
  width: 8vw;
  height: 4vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home {
  position: absolute;
  left: 1%;
  margin: 1px;
  padding: 15px;
  width: 95vw;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.home h4 {
  text-align: center;
}
.home img {
  position: relative;
  transform: translate(-50%,0%);
  left: 50%;
  margin-bottom: 8px;
}
.posts-home {
  width: 20vw;
  height: auto;
  font-family: 'Coustard', serif; 
  font-family: 'Josefin Sans', sans-serif;
}
.post {
  margin-top: 4px;
  font-family: 'Coustard', serif; 
  font-family: 'Josefin Sans', sans-serif;
}
.post img {
  position: relative;
  transform: translate(-50%,0%);
  left: 50%;
  margin-bottom: 8px;
  max-width: 90vw;
}
.post h2 {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}
.post h5 {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  color: rgb(82, 70, 70);
}
.post p {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
}
.header-user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-user button {
  position: relative;
  left: 100%;
  background-color: rgb(175, 8, 8);
  color: white;
  padding: 2px;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
  border-radius: 10%;
}
.create {
  background-color: rgb(128, 0, 255);
  color: white;
  border-radius: 5%;
  padding: 1.6px;
  text-decoration: none;
}
.title {
  grid-area: tt;
  resize: none;
}
.summary {
  grid-area: sm;
  resize: none;
  height: 40vh;
}
.content {
  grid-area: ct;
  resize: none;
}
.imageUrl {
  display: none;
}
.label {
  grid-area: lb;
  background-color: rgb(0, 4, 255);
  color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 20vw;
  height: 8vh;
  transform: translate(-50%,-50%);
  position: relative;
  top: 50%;
  left: 50%;
}
.rT {
  grid-area: rt;
}
.img-1 {
  grid-area: mi;
  max-width: 20vw;
  transform: translate(-50%,-50%);
  position: relative;
  top: 50%;
  left: 50%;
}
.btn-create {
  grid-area: bt;
  width: 10vw;
  height: 5vh;
  border: none;
  border-radius: 5%;
  font-size: 1rem;
  background-color: green;
  color: white;
  cursor: pointer;
  transform: translate(-50%,-50%);
  position: relative;
  top: 50%;
  left: 50%;
}
.form-post {
  width: 90vw;
  height: 80vh;
  padding: 5px;
  margin: 4px;
  display: grid;
  grid-template-areas:
      'tt lb ct ct ct ct'
      'sm mi ct ct ct ct'
      'rt bt ct ct ct ct';
  gap: 2px;
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.wrong-create {
  transform: translate(-50%,-50%);
  position: absolute;
  left: 50%;
  top: 10%;
}
.edit-link {
  text-decoration: none;
  background-color: rgb(42, 5, 161);
  color: white;
  border-radius: 2px;
  padding: 3px;
  font-size: 1rem;
  position: absolute;
  top: 20%;
  left: 70%;
}
.post-link {
  text-decoration: none;
}
.del-link {
  background-color: rgb(229, 0, 0);
  color: white;
  border: none;
  border-radius: 2px;
  padding: 3px;
  font-size: 1rem;
  position: absolute;
  top: 19%;
  left: 80%;
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .home {
    grid-template-columns: auto auto;
  }
  .posts-home {
    width: 40vw;
  }
  .lo-re {
    gap: 30px;
  }
  .header {
    gap: 60px;
  }
  .blogs-link {
    width: 50px;
  }
  .login-link {
    width: 50px;
  }
  .register-link {
    width: 65px;
  }
  .btn1 {
    transform: translate(-50%,-50%);
    position: relative;
    top: 4%;
    left: 50%;
  }
  .form {
    width: 80vw;
    height: 40vh;
  }
  .form input {
    transform: translate(-50%,-50%);
    position: relative;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 40px;
  }
  .form-post {
    grid-template-areas: 
    'tt sm'
    'lb mi'
    'ct ct'
    'ct ct'
    'ct ct'
    'rt bt'
    ;
    height: 88vh;
  }
  .title {
    height: 10vh;
  }
  .summary {
    height: 10vh;
  }
  .label {
    top: 20%;
    left: 30%;
    text-align: center;
    letter-spacing: 2px;
  }
  .img-1 {
    max-width: 40vw;
    max-height: 20vh;
    position: relative;
    transform: translate(-50%,-50%);
    top: 10%;
    left: 50%;
  }
  .content {
    position: absolute;
    top: -40%;
    height: 45vh;
    width: 88vw;
  }
  .rT {
    width: 160px;
    position: absolute;
    top: 55%;
    height: 30px;
  }
  .btn-create {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 78%;
  }
  .edit-link {
    position: absolute;
    top: 23%;
    left: 70%;
    font-size: 0.9rem;
  }
  .del-link {
    top: 23%;
    font-size: 0.9rem;
  }
  .header-user button {
    left: 80%;
  }
}

@media screen and (max-width: 900px) {
  .edit-link {
    top: 14%;
  }
  .del-link {
    top: 14%;
  }
  .posts-home {
    width: 30vw;
  }
  .home {
    grid-template-columns: auto auto auto;
    gap: 2px;
  }
}